// Your theme-specific styles go in here.
@charset 'utf-8';

@import 'fonts';
@import 'settings';
@import 'foundation';

//@include add-foundation-colors;

$primary-color: #049DBF;//#2199e8;
$secondary-color: #E5345B; //#777;
$sunny: #F5A623;


/***********************************************
LAYOUT
***********************************************/

body {
	background: #C2B799 url("../images/bg_body.jpg");
}


header, 
footer,
.hero {
	@include grid-row;
	//background: #f09;
	max-width: none;
}

.inner {
	max-width: $global-width;
	margin: 0 auto;
}

main {
	@include grid-row;
	max-width: $global-width;
	//background: #f60;
}

.content {
	padding-top: 3em;
	@include grid-column(12);
	//background: #f66;

	@include breakpoint(medium) {
		@include grid-column(12)	
	}

	// wel zijbalk bij strandslag
	.body-strandslag &,
	.body-listing & {
		@include breakpoint(large) {
			@include grid-column(7)
		}	
	}
}

aside {
	padding-top: 3em;
	@include grid-column(12);
	//background: #f03;
	background: #E0D3B7;

	@include breakpoint(medium) {
		@include grid-column(12)	
	}

	// wel zijbalk bij strandslag
	.body-strandslag &,
	.body-listing & {
		@include breakpoint(large) {
			@include grid-column(4)
		}	
	}
}

.block-list {
	@include grid-row;
	@include grid-layout(1,li);
	
	@include breakpoint(medium) {
		@include grid-layout(3,li);
	}

	@include breakpoint(large) {
		@include grid-layout(4,li);
	}

	li {
		list-style: none;
		padding: 1em 0;
		position: relative;
		
		@include breakpoint(medium) {
			padding: 1em;
		}
	}

	a {
		color: #000;
		display: block;
		transition: background .2s ease-in;

		&:hover, &:focus {
			background: rgba(0,0,0,0.1);
		}
	}

	.labels {
			
		position: absolute;
		top: 5px;
		right: 5px;
		text-align: right;
		
		.label {

		}
	}

	.beeld {
		position: relative;

	}

	.info {
		padding: 1rem .5rem .5rem .5rem;
	}

	img {
		width: 100%;
		//height: 125px;

		@include breakpoint(medium) {
			display: block;
			width: 100%;
			border-radius: 0;
			margin: 0;
			float: none;
			height: auto;
		}
	}

	h3 {
		margin-bottom: 0;
		position: absolute;
		bottom: 0em;
		left: 1em;
		background: rgba(#E5345B,1);
		padding: .5rem .5rem;
		color: #fff;

		@include breakpoint(medium) {
			margin-left: 0;
			float: none;
		}

	}

	li.strandslag h3 {
		background-color: $primary-color;
	}

	h4 {
	 	font-size: 1.25rem;
	 	color: #000;
	 	font-weight: normal;

	}

	.info {
	 	display: none;

	 	@include breakpoint(medium) {
			display: block;
		}
	}

}

header  {
	background: none; //#3b97bf url("../images/bg_logorow.jpg") center top no-repeat;
	// box-shadow: 2px 2px 2px rgba(0,0,0,0.4) ; not working bc foundation things

	.inner {
		height: 85px;
		padding: 1em;
		@include grid-row;
	}

	.logo {
		font-size: 1em;
		color: #000;

		@include breakpoint(medium) {
			@include grid-column(5)	
		}

		@include breakpoint(large) {
			@include grid-column(6)	
		}

		a {
			color: #000;	
		}

		h2 {
			margin: 0;
			line-height: 1;
		}

		h3 {
			font-size: .875rem;
			margin: 0;
			line-height: 1.2;

			@include breakpoint(large) {
				font-size: 1rem;	
			}
		}
	}

	.advertisement {
		display:none;
		
		@include breakpoint(medium) {
			display: block;
			@include grid-column(7)	
		}

		@include breakpoint(large) {
			@include grid-column(6)	
		}
	}

	.weather {
		display:none;
		text-align: right;
		
		@include breakpoint(medium) {
			display: block;
			@include grid-column(7)	
		}

		@include breakpoint(large) {
			@include grid-column(6)	
		}
	}
}


.sec-header {
	@include grid-row
	margin-top: 1rem;
	background: $secondary-color;

	.img-container {
		@include grid-column(12,0)	
		overflow: hidden;
		text-align: center;
		height: auto;

		@include breakpoint(medium) {
			@include grid-column(6,0)
			height: 350px;
			position: relative;
		}	
	}

	img {
		max-width: 100%;
		display: inline-block;

		@include breakpoint(medium) {
			max-width: none;
			position: absolute;
		    top: -9999px;
		    bottom: -9999px;
		    left: -9999px;
		    right: -9999px;
		    margin: auto;
		}
	}

	.info {
		@include grid-column(12)	

		@include breakpoint(medium) {
			@include grid-column(6)	
		}	
	}

	.info h1, .info h2 {
		color: #fff;
	}

	.meta {
		color: #fff;
		margin: 1rem 0;
	}
	
	.seasonstart {
		margin: 1rem 0;
		background: $white;
		color: $black;
		border-radius: 15px;
		padding: .5em;
		display: inline-block;

		i {
			color: $sunny;
			font-size: 1.5em;
			vertical-align: middle;
		}
		
	}

}

footer {
	margin-top: 4rem;

	.colofon {
		@include grid-column(12)

		@include breakpoint(medium) {
			@include grid-column(12);	
		}		
	}

	.credits {
		@include grid-column(12)

		@include breakpoint(medium) {
			@include grid-column(12);	
		}
	}

	.credits p {
		font-size: .875em;
	}
}

/***********************************************
ELEMENTS
***********************************************/



.searchbox {
	max-width: 440px; /* magic number: with of buttongroup on 404 */
    
    label {
		@extend .show-for-sr;
	}
	
	.button {
		width: auto;
	}

	input {
        -webkit-appearance: none;
        border-radius: 0;
	}
}

.skiplinks {
	@extend .show-on-focus
}

.main-nav {
	background: #fff;
	

	ul {
		/*@include menu-base;*/
		max-width: 1000px; // magic number: just looks good.
		margin: 0 auto;
		width: 100%;
		transition: all 0.5s ease;
	    
	    @include breakpoint(medium) {
		    display: flex;
	    	flex-flow: row wrap;
	    	justify-content: space-around;
	    }
	}

	li {
		
		@include breakpoint(medium) {
			display: inline-block;
		}
	}

	a.menu-toggle {
		color: #000;
		font-weight: bold;
		text-align: right;
		
		@include breakpoint(medium) {
			display: none;
		}


		i {
			line-height: 1;
			vertical-align: middle;
		}
	}

	a {
		color: #000;
		display: block;
    	line-height: 1;
    	padding: 0.7rem 0.5rem;
	}

	a:hover, a:focus {
		background: $primary-color; //palette(primary);
		color: #fff;
	}
}

aside {
	.block {
		margin-bottom: 3rem;
	}

	h2 {
		color: #049DBF;
	}
}

.content {
	.block {
		margin: 2rem 0;

		@include breakpoint(medium) {
			margin: 4rem 0;
		}
	}
}

button, .button {
	font-weight: bold;

	i {
		color: #fff;
		float: right;
	}
}

.label {
	background: $primary-color;
	font-weight: bold;
	color: #fff;
}

.sr-link {
	@extend .show-for-sr;
}

.ratio1-1 {
    position: relative;
    width: 100px;       /* desired width */

	&:before{
	    content: "";
	    display: block;
	    padding-top: 100%;  /* ratio of 1:1*/
	}

	img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: red;
	}
}



/***********************************************
TYPOGRAPHY
**********************************************/

.intro {
	font-size: 1em;
	max-width: 750px;
	//background: #E2DDC6;

	@include breakpoint(large) {
		font-size: 1.2em;
	}

}

.body {
	max-width: 750px;

	h2 {
		margin-top: 2rem;
	}
}

.content h2 {
	margin-bottom: 1rem;
}

p a,
.intro ul a,
.intro ol a,
.body ul a,
.body ol a {
	color: #000;
	border-bottom: 1px dotted #000;
}

.meta {
	a {
		border-bottom: 1px dotted;
	}
}

.sitename {
	font-weight: normal;

	span {
		text-transform: uppercase;
		font-weight: bold;
	}
}

a {
	color: inherit;

	&:hover {
		color: inherit;
		background-color: rgba(0,0,0,0.2);	
	}
}

.body-listing h1 {
	font-size: 1.75rem;
}

.mainimg {
	.credit {
		font-size: .75rem;
		background: rgba(0,0,0,0.4);
		//text-shadow: 0px 0px 4px #000;
		padding: 0px 5px;
		color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}



/***********************************************
HOMEPAGE
***********************************************/


.hero {
	background: transparent url(../images/bg_hero.jpg) center center no-repeat;
	background-size: cover;
}

.hero-content {
	@include grid-column(12);
	height: 540px;
	padding-top: 2rem;
	padding-bottom: 2rem;

	@include breakpoint(medium) {
		@include grid-column(6);
		@include grid-column-offset(6);
	}

	.button, 
	.searchbox {
		display: block;
		color: #fff;
		//@include button-expand();

		@include breakpoint(medium) {
			//@include button-expand(false);
			width: 250px;
		}
	}

	.searchbox {
		.button {
			width: auto;
		}
	}
	
	h1.sitename {
		font-size: 2em;
		
		@include breakpoint(large) {
			font-size: 3em;
		}

	}
}

.kaart-block {

	.kaart {
		position: relative;
	}

	span.button {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		width: 250px;
		background-color: $secondary-color;
		color: #fff;
	}
}

/***********************************************
OVERZICHT
***********************************************/

.mainimg {
	position: relative;
	height: 200px;
	width: auto;
	background-size: cover;
	background-position: center center;

		@include breakpoint(medium) {
			height: 300px;
		}


	h1 {
		position: absolute;
		bottom: 0;
		left: 1rem;
		padding: 0.5rem 1rem;
		background: $primary-color;
		margin-bottom: 0;
		color: #fff;
	}
}





/***********************************************
STRANDSLAG
***********************************************/

#map.smallmap {
	width: 100%;
	height: 200px;
	background-size: 1200px 300px;
	background-position: center center;

	@include breakpoint(medium) {
			height: 300px;
	}
}

.body-strandslag {
	
	.block-list {
		@include grid-layout(1,li);
	
		@include breakpoint(medium) {
			@include grid-layout(3,li);
		}

		@include breakpoint(large) {
			@include grid-layout(3,li);
		}
	}

	h1 {
		background-color: $secondary-color;
		color: #fff;
	}
}

.siblings {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #666;
	margin-bottom: 1rem;

	.prev, .next{
		display: block;
		padding: .2rem .5rem;
		//background-color: #f09;
		color: #000;
	}

	
}

h2 .labels {
	display: block;
	margin-top: .5rem;
	
	@include breakpoint(medium) {
			display: inline-block;
			vertical-align: super;
			margin-left: 1rem;
			margin-top:0;
		}
}


/***********************************************
LISTING
***********************************************/

ul.resultslist {
	margin: 2rem 0;
	list-style: none;

	li {
		border-bottom: 1px solid #666;
		margin-bottom: 1rem;
		@extend .clearfix;
	}

	img {
		float: left;
		margin-right: 1rem;
	}

	.info {
	}

	h2 {
		background: rgba(#E5345B,1);
		padding: .5rem .5rem;
		color: #fff;
		font-size: 1.25rem;
		display: inline-block;

		span {
			font-weight: normal;
			font-size: 1rem;
		}
	}
}


/***********************************************
KAART
***********************************************/

#map .leaflet-popup-content {
	img {
		margin-bottom: 1rem;
	}
	 .button {
	 	color: #fff;
	 	font-weight: bold;
	 	font-family: 'proxima-nova','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	 }
}


.body-kaart #map {
	height: 80vh;
	margin: 0 1rem;
}

/***********************************************
BASIC
***********************************************/


.body-basic {
	h1 {
		margin: 2rem 0;
	}

	.intro, .body {
		margin: 2rem 0;
	}
}


/***********************************************
WEATHER
***********************************************/

.weather {

	.weather-day {
		display: inline-block;
		margin-right: 2rem;
	}


	p {
		display: inline-block;
		font-size: 0.875rem;
		line-height: 1;
	}

	.temp {
		font-weight: bold;
		font-size: 1rem;
	}

}


/***********************************************
HULPJE
***********************************************/

/*

footer {

	:after {
			content: "content";
			display: block;
			height: 16px;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;

		}

	@include breakpoint(small) {
		:after {
			content: "SMALL";
			background-color: #0f9;
		}
	}
	
	@include breakpoint(medium) {
			:after {
				content: "MEDIUM";
				background-color: #f06;
		}
	}

	@include breakpoint(large) {
		:after {
			content: "LARGE";
			background-color: #90f;
		}
	}
}
*/


