	<script type="text/javascript">
		<!--
		  sea_temperature_c1="000000";
		  sea_temperature_c2="CBC3B1";
		  sea_temperature_s1=0;
		  sea_temperature_s2=11;
		  sea_temperature_i1=30;
		  sea_temperature_f1=0;
		  sea_temperature_l1=0;
		// -->
	</script>
		
	<div class="sea_temp large-4 small-4 columns">
		<span id="sea_temperature"><a href="http://www.sea-temperature.com/">Sea temperature</a></span>
		<span class="sea_temperature_name">zeewater</span>
	</div>
