<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0" />
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
	
	<meta name="description" content="Handige info over het strand: {{record.title}}, {{record.name}}. Waar parkeren, welke strandtenten zijn er, etc. Alle info voor een dagje uit op het haagse strand!" />
	
	<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="favicon.png">

	<link rel="stylesheet" href="{{ paths.theme }}styles/normalize.css" />
	<link rel="stylesheet" href="{{ paths.theme }}styles/foundation.css" />
	<link rel="stylesheet" href="{{ paths.theme }}styles/strand.css" />

	<script src="{{ paths.theme }}scripts/vendor/custom.modernizr.js"></script>

</head>



<!-- Main Page Content and Sidebar -->

<body class="{{bodyclass}}">

	<div class="container">
		<div class="row logo-row">
			<div class="large-6 medium-6 columns">
				<div id="logo">
					<h2><a href="/">STRAND<span>Den Haag</span></a></h2>
					<p>{{ app.config.get('general/payoff') }}</p>
				</div>
			</div>
			<div class="large-6 medium-6 columns banner-block hide-for-small">
				{% include '_leaderboard.twig' %}
			</div>
		</div>
		<div class="row nav-row">
			<nav class="top-bar">
				<ul class="title-area">
				    <li class="name"><!-- Leave this empty --></li>
				    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					
					{{ menu('main', '_sub_menu.twig') }}
					
			  </section>
			</nav>
		</div>
