
		 	<script type="text/javascript">
				var width = window.innerWidth
				|| document.documentElement.clientWidth
				|| document.body.clientWidth;
				google_ad_client = "ca-pub-3049179193614178";
				
				if (width > 856) {
					// Load the Leaderboard 250x250 Unit for wide screen
					/* 250x250 tekst en beeld, subpages */
					google_ad_slot = "9494302381";
					google_ad_width = 468;
					google_ad_height = 60;
					console.log('grote header');
				} else if ((width < 856) && (width > 560)) { 
					/* header klein -strand 2013 */
					google_ad_slot = "1691833989";
					google_ad_width = 234;
					google_ad_height = 60;
					console.log('medium header');
				} else {
					console.log('small, no header');
				}
			</script>
			<script type="text/javascript"
			  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		    </script>

{#
		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- responsive ad -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3049179193614178"
			     data-ad-slot="5562795184"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
#}