
    
    <div class="searchbox">
        <form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        	<div class="row">
        		
        		<div class="large-9 medium-10 small-10 columns">
        			<input type="search" name="search" value="{{ app.request.get('search') }}" placeholder="Zoek">
        		</div>
        		<div class="large-2 medium-2 small-2 columns">
        			<input type="submit" name="submit" value="zoek">
        		</div>
					
	        </div>
        </form>
    </div>
    
