<ul class="block-grid strandtenten-grid large-block-grid-3 medium-block-grid-3">

{% for strand in stranden %}
	<li class="strandtent-item {% for service in strandtent.taxonomy.services %}{{ service|lower|replace({' ':'-' }) }} {% endfor %}">
		<a class="thumb" href="{{ strand.link }}">
			<img src="{{ thumbnail(strand.image, 310, 218) }}" alt="{{ strand.title }}" title="{{ strand.title }}" />
		</a>
		<div class="info">
			{% if strand.hondenstrand=="Ja" %}
				<span class="regular round label">Hondenstrand</span>
			{% endif %}
			{% if strand.naaktstrand=="Ja" %}
				<span class="regular round label">Naaktstrand</span>
			{% endif %}
			
			<h3><a href="{{ strand.link }}">{{ strand.title }}</a></h3> 
			<h4><a href="{{ strand.link}}">{{ strand.name }}</a></h4>
			
			
			<div class="description hide-for-small">{{ strand.description | striptags | slice(0,150) }} &hellip;
				<div><a class="readmore" href="{{ strand.link}}">Lees meer</a></div>
			</div>
		</div>
	</li>
{%  endfor %}
</ul>