{% if record.slug == 'naaktstranden' %}
	{% setcontent stranden = 'strandslagen' orderby 'id' where { naaktstrand : 'Ja'} %}
	{% set type = 'naaktstrand' %}
{% elseif record.slug == 'honden' %}	
	{% setcontent stranden = 'strandslagen' orderby 'id' where { hondenstrand : 'Ja'} %}
	{% set type = 'hondenstrand' %}
{# {% elseif record.slug == 'kinderen' %}	
	{% setcontent stranden = 'strandslagen' orderby 'id' where { kinderstrand : 'Ja'} %}
#}
{% else %}
	{% setcontent stranden = 'strandslagen' orderby 'id' %}
		{% set type = 'strandslag' %}
{% endif %}

{% include '_header.twig' with {'bodyclass' : 'body-overzicht'} %}
	
	<div class="row header-row" >
		<div class="large-4 medium-4 large-push-8 medium-push-8 columns"> 
			<!-- Searchbox -->
			{% include '_searchbox.twig' %}
		</div>
		
		<div class="large-8 large-pull-4 medium-8 medium-pull-4 columns">
			
		</div>
		
	</div> <!-- /header-row -->
  
	<div class="row main-row ">
		<div class="large-8 medium-8 columns main-col">
			
			<h1>{{ record.title }}</h1>
			<h2 class="subheader">{{ record.subtitle }}</h2>
			<div class="intro">
				{{ record.description }}
			</div>
			
			<h3>De {{type}}en</h3>
			
			{% include '_strandslagengrid.twig' with { 'stranden' : stranden } %}	

			<div class="body">
				{{ record.body }}
			</div>
			 		
		</div>
		
		<div class="large-4 medium-4 columns side-col">
			
			<div class="side-block weather-block">
			<!-- het weerbericht, met Jan Pelleboer -->
			{% include '_seatemp.twig' %}
			{% include '_weather.twig' %}
			<!-- einde van dit bulletin. -->
			</div>
			
			<!-- Include small ads for devices -->
			{% include '_small_adblock.twig' %}

			<!-- Include Tweets -->
			{# % include '_twitterlist.twig' % #}
			
		</div>
</div>	
	
<!-- End Main Content -->

    
{% include '_footer.twig' %}
