{% include '_header.twig' %}
	
	<div class="row header-row" >
		<div class="large-4 large-push-8 columns"> 
			<!-- Searchbox -->
			{% include '_searchbox.twig' %}
		</div>
		
		<div class="large-8 large-pull-4 columns">
			
		</div>
		
	</div> <!-- /header-row -->
  
	<div class="row main-row ">
		<div class="large-8 columns main-col">
			
			<h3>Strandtenten</h3>

			
			{% setcontent strandtenten ='strandtenten' orderby 'title'%}				
			
			<ul class="block-grid strandtenten-grid large-block-grid-3">
				
				{% for strandtent in strandtenten %}

				<li class="strandtent-item 
					{% for flag, flagname  in strandtent.taxonomy.services %}{{ flag|split('/')|last }} 
					{% endfor %}">

    				<a href="{{ strandtent.link }}"><img class="hide-for-small" src="{{ thumbnail(strandtent.image, 310, 218) }}" alt="{{ strandtent.title }}" title="{{ strandtent.title }}" /></a>
    				<h3><a href="{{ strandtent.link }}">{{ strandtent.title }}</a></h3> 
    				
    				{% set strandslagen=strandtent.related(strandslag) %}
    				{% for strandslag in strandslagen %}
    				<h4><a href="{{ strandslag.link}}" title="Op welk strand zit deze tent?">{{ strandslag.title }}</a></h4>
					{% endfor %}

    				<div class="tent-contact">
    					<a href="tel:{{ strandtent.phone }}">{{ strandtent.phone }}</a> 
    					{% if strandtent.website !="" %}/ <a target="_blank" href="{{ strandtent.website }}">{{ strandtent.website | slice(7,100) }}</a> {% endif %}
    				</div>
    				
    				

    				<!-- div class="tent-description"><p>{{ strandtent.description }}</p></div -->
    				
					<!-- div class="tent-flags">
    				
    				{% if strandtent.taxonomy.services is defined %}
						{% for service in strandtent.taxonomy.services %}
							{{ service }}{% if not loop.last %} | {% endif %}
						{% endfor %}
					{% endif %}       				
    				
    				</div -->
    				
				</li>
				{%  endfor %}
			</ul>		
		</div>
		
		<div class="large-4 columns side-col">
			
			<div class="side-block weather-block">
			<!-- het weerbericht, met Jan Pelleboer -->
			{% include '_seatemp.twig' %}
			{% include '_weather.twig' %}
			<!-- einde van dit bulletin. -->
			</div>
			
			<div class="side-block filter-block">
				 <h3>Laat mij strandtenten zien met &hellip;</h3>
				 <form class="strandtent-filter" method="get" action="">
				 	{% set flags = app.config.get('taxonomy/services/options') %}
				 	
				 	{% for flag, flagname in flags %}
                        <label for="{{flag}}"><input id="{{flag}}" type="checkbox" name="{{flag}}" value="{{flag}}"><span class="checkbox"></span> {{flagname}}</label> 
                    {% endfor %}

          			
		        </form>
			</div>
			
			

			<!-- Include small ads for devices -->
			{% include '_small_adblock.twig' %}

			<!-- Include Tweets -->
			{# % include '_twitterlist.twig' % #}
			
		</div>
</div>	
	
<!-- End Main Content -->

    
	{% include '_footer.twig' %}
	
	
				
			
			