<div class="block ad-block">
	<script type="text/javascript">
		var width = window.innerWidth
		|| document.documentElement.clientWidth
		|| document.body.clientWidth;
		google_ad_client = "ca-pub-3049179193614178";
		
		if (width > 856) {
			// Load the Leaderboard 250x250 Unit for wide screen
			/* 250x250 tekst en beeld, subpages */
			google_ad_slot = "4888763451";
			google_ad_width = 250;
			google_ad_height = 250;
			//console.log('big ass reclame');
		} else if ((width < 856) && (width > 560)) { 
			/* 160x90 link block */
			google_ad_slot = "9773503985";
			google_ad_width = 160;
			google_ad_height = 90;
			//console.log('medium gooogle ads');
		} else {
			// For mobile, load the 320x50 banner
			google_ad_slot = "1387769580";
			google_ad_width = 320;
			google_ad_height = 50;
			//console.log('small ads');
		}
	</script>
	<script type="text/javascript"
	  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>