{# <div class='weather-day' id="weather">
</div>
<div class='weather-day' id="weathermorgen">
</div> #}


{% set weatherForecast = getWeatherForecast() %}
{% set tomorrowTxt     = now|date|date_modify("+1 day")|date("Y-m-d") ~ " 12:00:00" %}
{# {{ dump(weatherForecast.list.0) }} #}

{% for weatherData in weatherForecast.list %}
    {% if loop.index == 1 or weatherData.dt_txt == tomorrowTxt %}
    {% set dayLabel = loop.index == 1 ? 'vandaag' : 'morgen' %}

    <div class='weather-day'>
        {# {{ weatherData.dt_txt }} = #}
        <img class="icon" src="http://openweathermap.org/img/wn/{{ weatherData.weather.0.icon }}.png" alt="{{ weatherData.weather.0.description }}"/>
        <p><span class="temp">{{ weatherData.main.temp|number_format(0) }}&deg;</span><br />{{ dayLabel }}</p>
        
    </div>
    {% endif %}
{% else %}
    Weer is kapot
{% endfor %}

