{% set symbolen = {
  'strandtent': 'campsite',
  'strandslag': 'swimming'
} %}

<div class="smallmap" id="map" style="background-image: url('https://api.mapbox.com/v4/mapbox.{{maptype|default('streets')}}/pin-l-{{ symbolen[ record.contenttype.singular_slug ]|default('x') }}+e5345b({{record.geolocation.longitude}},{{record.geolocation.latitude}})/{{record.geolocation.longitude}},{{record.geolocation.latitude}},15/1200x300@2x.png?access_token=pk.eyJ1IjoiYW5rZXN0cmFuZCIsImEiOiJjaWxod2M2dnEwMDZsdzhsejFtczJhdzFoIn0.tHci4bphYosoWDg498Ch5A');">

{# dynamic map 
<!-- script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiYW5rZXN0cmFuZCIsImEiOiJjaWxod2M2dnEwMDZsdzhsejFtczJhdzFoIn0.tHci4bphYosoWDg498Ch5A';
        var map = L.mapbox.map('map', 'mapbox.streets-satellite').setView([{{record.geolocation.latitude}}, {{record.geolocation.longitude}}], 16);

        var geojson = [
    
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [ {{record.geolocation.longitude}}, {{record.geolocation.latitude}} ]
          },
          "properties": {
            "title": "{{record.title}}",
            "marker-color": '{{ kleuren[ act.taxonomy.activiteiten|first ]|default("#e5345b") }}',
            "marker-symbol": '{{ symbolen[ act.taxonomy.activiteiten|first ]|default('x') }}'
          }
        }
    
      ];

      var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);

    </script -->

    {# style="background-image: url('https://api.mapbox.com/v4/mapbox.streets-satellite/pin-l-swimming+e5345b({{record.geolocation.longitude}},{{record.geolocation.latitude}})/{{record.geolocation.longitude}},{{record.geolocation.latitude}},15/1200x300@2x.png?access_token=pk.eyJ1IjoiYW5rZXN0cmFuZCIsImEiOiJjaWxod2M2dnEwMDZsdzhsejFtczJhdzFoIn0.tHci4bphYosoWDg498Ch5A');" #}
</div> 