<div class="block twitter-block">
			<h3 class="subheader">Volg ons op Twitter</h3>
			<a class="twitter-timeline"  href="https://twitter.com/strand_denhaag"  data-widget-id="472845093531967488" data-chrome="nofooter transparent" height="300">Tweets by @strand_denhaag</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>	