{% set limit = limit | default(99) %}


<ul class="block-list stranden-list">
            
    {% for item in items | slice(0,limit) %}
        
        {% if item.contenttype.singular_slug == 'strandtent' %}
        <li class="strandtent {% for flag, flagname  in item.taxonomy.services %}{{ flag|split('/')|last }} {% endfor %}">
        {% else %}
        <li class="{{ item.contenttype.singular_slug }}">
        {% endif %}

            <a href="{{ item.link }}">
                <div class="beeld">
                    <!--img src="{{ thumbnail(item.image, 515, 515) }}" alt="{{ item.title }}" / -->
                    
                    <picture>
                        <source srcset="{{ thumbnail(item.image, 515, 515) }}" media="(min-width: 1024px)">
                        <source srcset="{{ thumbnail(item.image, 515, 515) }}" media="(min-width: 640px)">
                        <img srcset="{{ thumbnail(item.image, 620, 225) }}" alt="{{ record.title }}">
                    </picture >

                    {# toon labels bij strandslagen #}
                    {% if item.contenttype.singular_slug == 'strandslag' %}
                    <div class="labels">
                    {% if item.hondenstrand=="Ja" %}
                        <div class="label">Hondenstrand</div>
                    {% endif %}
                    {% if item.naaktstrand=="Ja" %}
                        <div class="label">Naaktstrand</div>
                    {% endif %}
                    </div>
                    {% endif %}

                    <h3>{{ item.title }}</h3> 
                </div>
                
                {% if not short %}
                <div class="info">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.description | striptags | slice (0,120) }} &hellip;</p>
                    {# <span class='link'>Lees meer <span class="sr-link"> over {{ item.title }}</span> <i class="fa fa-chevron-right"></i></span> #}
                </div>
                {% endif %}

            </a>
        </li>
    {%  endfor %}
</ul>   