<form class="searchbox" method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
    <div class="input-group">
        <label for="search" class="input-group-label">Zoek</label>
        <input class="input-group-field" type="search" name="search" id="search" value="{{ app.request.get('search') }}" placeholder="strandtent, locatie, etc">
        <div class="input-group-button">
            <input type="submit" class="button" value="Zoek">
        </div>
    </div>
</form>


    
