<!doctype html>
<html class="no-js" lang="en" style="background-color: {{ theme.layout.matte_background }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ seo.title() }}
        </title>
        {{ seo.metatags() }}
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/strand.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/strand-overrides.css">
        {% block headincludes %}
        {% endblock headincludes %}
    </head>

    <body class="{% block bodyclass %} {% endblock %}">
        <header>
            <div class="inner">
                <a class="skiplinks" href="#menu">naar menu</a>
                <a class="skiplinks" href="#content">naar content</a>

                <div class="logo">
                    <a href="/">
                        <h2 class="sitename"><span>Strand</span> Den&nbsp;Haag</h2>
                        <h3>{{ app.config.get('general/payoff') }}</h3>
                    </a>
                </div>

                <div class="advertisement"> {# FIXME #}
                    {# include '_ad-leaderboard.twig' #}
                </div>

                <div class="weather">
                    <!-- het weerbericht, met Jan Pelleboer -->
                    {# % include '_item-seatemp.twig' % #}
                    {% include '_item-weather.twig' %}
                    <!-- einde van dit bulletin. -->
                </div>

            </div>

            {{ menu('main', '_menu-main.twig') }}

        </header>

        <a name="content"></a>
        {% block main %}

        <p>there be content here</p>

        {% endblock %}

        <!-- Footer -->
        <footer>
            <div class="inner">
            
                <div class="colofon">
                    <h5 class="sitename"><span>STRAND</span> Den Haag</h5>
                    <p>Tips en suggesties zijn altijd welkom! Mail naar <a href="mailto:tips@strand-denhaag.nl">Tips@strand-denhaag.nl</a>.<br />
                    <a href="/pagina/over">Meer informatie over Strand-denhaag.nl</a>
                    </p>

                    {% if record.editlink %}
                        <a class="label" href="{{ record.editlink() }}" target="_blank"><i class="fa fa-edit"></i> Edit</a>
                    {% endif %}
                </div>

                <div class="credits">
                    <p class="small">Kaarten © <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> en © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a>
</p>
                </div>
            </div>
        </footer>

        <script src="{{ paths.theme }}js/jquery-3.3.1-min.js"></script>
        <script src="{{ paths.theme }}js/foundation.js"></script>
        <script src="{{ paths.theme }}js/jquery.simpleWeather.js"></script>
        <script src="{{ paths.theme }}js/app.js"></script>

        <script src="{{ paths.theme }}js/picturefill.min.js" async></script>


        <!-- Analytics for {{paths.canonical}} -->
        {% if "strand-denhaag.nl" in paths.canonical %}
        
        <!-- GA -->
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5849686-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-5849686-4', { 'anonymize_ip': true });
        </script>

        {% endif %}


        {% block bottomincludes %}
        {% endblock bottomincludes %}

    </body>
</html>
