{% macro display_menu_item(item, loop) %}
<li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
    <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
       class='{% if item|current %}current {% endif %}{% if item.class is defined %}{{item.class}}{% endif %}'>{{item.label}}
       {# if item.class=="home" %}<i class="fa fa-home"></i>{% endif #}
    </a>
    {% if item.submenu is defined %}
        <ul>
            {% for submenu in item.submenu %}
                {{ _self.display_menu_item(submenu, loop) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endmacro %}

<nav class="main-nav" id="menu">
    <a class="menu-toggle">menu  &nbsp;<i class="fa fa-bars"></i></a>
    <ul class="test">
    {% for item in menu %}
        {{ _self.display_menu_item(item, loop) }}
    {% endfor %}
    </ul>
</nav>
