{% extends '_master.twig' %}

{% block bodyclass %}body-home{% endblock %}

{% block main %}

{# {% setcontent homepage = 'pagina/homepage' %} #}

<section class="hero" style="background-image: url({{ thumbnail(record.image, 1600,540,'c') }});
	">
    <div class="inner">
        <div class="hero-content">
            
            <h1 class="sitename"><span>Strand</span> Den&nbsp;Haag</h1>
            
            <div class="intro">
                {{ record.description }}
            </div>
            
            <a href="/overzicht/strandtenten" class="button">Alle strandtenten <i class="fa fa-chevron-right"></i></a>
            <a href="#alle-strandslagen" class="button">Alle strandslagen <i class="fa fa-chevron-right"></i></a>
            {% include '_item-searchbox.twig' %}
        </div>    
    </div>
</section>


<main>
    <div class="content" id="alle-strandslagen">

        <div class="block">
            <h2>Alle strandopgangen van Den Haag en Scheveningen</h2>

            {% setcontent stranden = 'strandslagen' orderby '-id' %}
            
            {% include '_item-strandgrid.twig' with { 'items' : stranden } %}
        </div>

        <div class="block kaart-block">
            <h2>Overzichtskaart van het strand</h2>
            <div class="kaart">
                <a href="/pagina/kaart-van-het-strand-van-den-haag">
                    <img class="fullwidth" src="{{paths.theme}}images/preview-kaart.jpg" alt="strandkaart" title="Bekijk alle strandtenten en stranden op de kaart!"/>
                    <span class="button" href="/pagina/kaart-van-het-strand-van-den-haag">Bekijk de kaart <i class="fa fa-chevron-right"></i></span>
                </a>
            </div>
        </div>
        
        
    </div>

</main>

 

{% endblock main %}
