{% extends '_master.twig' %}

{% block headincludes %}
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
{% endblock headincludes %}

{% block bodyclass %}body-kaart{% endblock %}


{% block main %}
<main>

  <div class="content">
      
    <h1>{{ record.title }}</h1>

    <div class="intro">
      {{ record.description }}
    </div>
	
{# @see:
  https://www.mapbox.com/maki/
  https://www.mapbox.com/help/markers/#with-geojson
#}

{# mapbox://styles/ankestrand/cilmj4ly300djbhm12r8vr1k7 #}

{% setcontent strandslagen = 'strandslagen' where { geolocation : '!' } %}
{% setcontent strandtenten = 'strandtenten' where { geolocation : '!' } %}

{% set locations = strandslagen|merge(strandtenten) %}
<!-- hr>
<ul>
{% for item in locations %}
  <li>{{item.title}} - {{item.contenttype.singular_slug}}</li>
{% endfor %}
</ul>
<hr -->

{% set kleuren = {
  'strandtent': '#39D3E2',
  'strandslag': '#E5345B'
} %}

{% set symbolen = {
  'strandtent': 'campsite',
  'strandslag': 'swimming'
} %}

<div class="map">
  <div id="map"></div>
</div>

<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiYW5rZXN0cmFuZCIsImEiOiJjaWxod2M2dnEwMDZsdzhsejFtczJhdzFoIn0.tHci4bphYosoWDg498Ch5A';
	var map = L.mapbox.map('map', 'mapbox.streets').setView([52.10620, 4.27238], 14);
  
  map.scrollWheelZoom.disable();
  var myLayer = L.mapbox.featureLayer().addTo(map);

  var geojson = [
    {% for loc in locations  %}
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [ {{loc.geolocation.longitude}}, {{loc.geolocation.latitude}} ]
      },
      "properties": {
        "title": "{{loc.title}}",
        "marker-color": '{{ kleuren[ loc.contenttype.singular_slug ]|default("#f09") }}',
        "marker-symbol": '{{ symbolen[ loc.contenttype.singular_slug ]|default('x') }}',
        "button_link": "{{ loc.link }}",
        "image": "{{ thumbnail(loc.image, 200, 150) }}"
      }
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ];

    // Set content on each marker based on feature properties.
    myLayer.on('layeradd', function(e) {

      var marker = e.layer,
      feature = marker.feature;

      if(feature.properties.image != ""){
        var imageMarkup = '<img src="' + feature.properties.image + '" alt="' + feature.properties.title + '">';
      }else{
        var imageMarkup = "";
      }

      //Here we create the html markup and content for the pop up block in the map
      var content = '<h2>'+ feature.properties.title+'<\/h2>'
                  // + '<p>GPS-coördinaten: ' + feature.geometry.coordinates + '<br>'
                  + imageMarkup
                  + '<a href="' + feature.properties.button_link + '" class="button small">toon details</a>';

      marker.bindPopup(content);

    });


    //var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);
   myLayer.setGeoJSON(geojson);

</script>

{# "description": "{{ loc.description|excerpt(130)|replace({'"': '&quot;'})|raw }}", #}
    <div class="content">

	</div>

	
</main>	
    
{% endblock main %}
