{% extends '_master.twig' %}

{% block bodyclass %}body-listing{% endblock %}

{% block main %}

    <main>

        <div class="content">

            {# If used for listing a taxonomy, we add a heading.: #}
            {% if taxonomytype is defined %}
                <h1>
                    {{ __('Overview for') }}
                    {% if taxonomy.options[slug] is defined %}
                        {{ taxonomy.options[slug] }}
                    {% else %}
                        {{ slug }}
                    {% endif %}
                </h1>
                {# Taxonomies are fetched unordered by design except if 'has_sortorder'
                   is set to true. This way we keep 'grouping' intact in the listing. #}
                {% if not taxonomy.has_sortorder %}
                    {# If we specified an order in config.yml, sort them here, accordingly: #}
                    {% set records = records|order(app.config.get('general/listing_sort')) %}
                {% endif %}
            {% endif %}

            {% if app.request.get('search') %}
                <h1>Resultaten gevonden voor: {{ search|escape  }}</h1>
            {% endif %}

            {% if records|length > 0 %}

                <ul class="resultslist">
                {% for record in records %}
                    <li>

                        {# % if record.image!="" %}
                            <img src="{{ thumbnail(record.image, 200, 200) }}">
                        {% endif % #}

                        <h2><a href="{{ record.link }}">{{ record.title }} <span>({{record.contenttype.singular_name}})</span></a></h2>
                        <div class="info">    
                        {% if record.description %}
                            {{ excerpt(record.description, 200) }}
                        {% else %}
                            <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                        {% endif %}
                       
                       </div>

                    </li>

                {% endfor %}

                </ul>
            
            {% else %}

                <h2>Geen zoekresultaten</h2>
                <p>Helaas, geen resultaten gevonden. Zoek opnieuw of ga naar de <a href='\'>homepage</a>.</p>

            {% endif %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager() }}
        </div>
        
        <aside>
            {% include '_item-searchbox.twig' %}
        </aside>

    </main>

{% endblock main %}