{% extends '_master.twig' %}

{% block bodyclass %}body-overzicht{% endblock %}

{% block main %}


{% set strandsoort = {
	'honden' : 'hondenstrand',
	'naaktstranden' : 'naaktstrand',
	'kinderen' : 'kinderstrand'
	}
%}



  
<main>
	<div class="mainimg" style="background-image: url('{{ thumbnail(record.image, 1200, 300) }}');">
		<!-- img src="{{ thumbnail(record.image, 1200, 300) }}" alt="{{record.imagedescription}}"/ -->
		<h1>{{ record.title }}</h1>

		{% if record.imagecredit is not empty %}
		<div class="credit">{{ record.imagecredit }}</div>
		{% endif %}

	</div>

	<div class="content">
		<h2>{{ record.subtitle }}</h2>
		<div class="intro">
			{{ record.description }}
		</div>
		
		{% if strandsoort[record.slug] is defined%}
 			<h2>De stranden</h2>
		
			{% setcontent stranden='strandslagen' where { (strandsoort[record.slug]) : 'ja'} %}
			{% include '_item-strandgrid.twig' with { 'items' : stranden } %}
		{% endif %}

		<div class="body">
			{{ record.body }}
		</div>
	</div>
	
	{#
	<aside>
			
		<!-- Include small ads for devices -->
		{% include '_ad_small_adblock.twig' %}
	</aside>
	#}

</main>	
    
{% endblock main %}
