{% extends '_master.twig' %}

{% block bodyclass %}body-overzicht{% endblock %}

{% block main %}



  
<main>
	<div class="mainimg" style="background-image: url('{{ thumbnail(record.image, 1200, 300) }}');">
		<h1>{{ record.title }}</h1>


		{% if record.imagecredit is not empty %}
		<div class="credit">{{ record.imagecredit }}</div>
		{% endif %}
		
	</div>

	<div class="content">
		<h2>{{ record.subtitle }}</h2>
		<div class="intro">
			{{ record.description }}
		</div>
	
			
		{# anchors #}		
		<div class="jump-block">
			<div>	
				<div class="stacked-for-small button-group">
					<h3>Strandtenten op:</h3> 
					<a class="button" href="#strand-scheveningen">Scheveningen</a>
					<a class="button" href="#strand-scheveningen-noorderstrand">Scheveningen Noorderstrand</a>
					<a class="button" href="#strand-kijkduin">Kijkduin</a>
					<a class="button" href="#strand-zuiderstrand">Zuiderstrand</a>
				</div>
			</div>
		</div>

		{# filtering #}
		{# <div class="block filter-block">
			<a class="filter-toggle">filter</a>
			<form class="strandtent-filter" method="get" action="">
			 	<h3>Laat mij strandtenten zien met &hellip;</h3>
				
				{% set flags = app.config.get('taxonomy/services/options') %}
			 	
			 	{% for flag, flagname in flags %}
	                <label for="{{flag}}"><input id="{{flag}}" type="checkbox" name="{{flag}}" value="{{flag}}"><span class="checkbox"></span> {{flagname}}</label> 
	            {% endfor %}
			</form>	
		</div> 
		#}
			

			{# toon alle tenten met onderverdeling  #}
			{% set stranden = app.config.get('taxonomy/stranden/options') %}

			{% for strand, strandnaam in stranden %}
			
			<div class="block">
			    <h2 id="strand-{{ strand }}">{{ strandnaam }}</h2>
			    {% setcontent strandslagen = 'strandslagen' where { stranden : strand } %}
			    {% set ditstrandtenten = [] %}

			    {% for strandslag in strandslagen %}
			        {% set ditstrandslagtenten = strandslag.related(strandtenten) %}
			        {% set ditstrandtenten = ditstrandtenten|merge(ditstrandslagtenten) %}
				{% endfor %}

				{% include '_item-strandgrid.twig' with { 'items' : ditstrandtenten } %}
			</div>

			{% endfor %}

			{# toon alle tenten zonder onderverdeling #}
			{#
			{% setcontent strandtenten = 'strandtenten' %}
			{% include '_item-strandgrid.twig' with { 'items' : strandtenten } %}
			#}

		<div class="body">
			{{ record.body }}
		</div>
	</div>
	

</main>	
    
{% endblock main %}
