{% extends '_master.twig' %}

{% block bodyclass %}body-strandtent{% endblock %}

{% block main %}




<main>
	<div class="sec-header">
		<div class="img-container">
			<img src="{{ thumbnail(record.image, 640, 350) }}" />
		</div>
		<div class="info">

			<div class="meta">{{ record.contenttype.singular_name }}</div>
			<h1>{{ record.title }}</h1>

			{% set strandslagen = record.related(strandslag) %}
			{% set strandslag = "" %}

				{% for item in strandslagen %}
				<h2><i class="fa fa-flag"></i> {{ item.title }}</h2>
				{% set strandslag = item %}

			{% endfor %}

			<div class="meta">
				<a class="url" href="{{ record.website }}">{{ record.website }}</a><br />
				<a class="tel" href="tel:{{ record.phone }}">{{ record.phone }}</a>
			</div>

			{% if record.seasonstart is not empty and today|date("Ymd") < 20200415 %}
			{# Toon voor half april 2020, indien ingevuld #}
			<div class="seasonstart">
				<i class="fa fa-sun-o"></i> Open vanaf {{ record.seasonstart|lower }}
			</div>
			{% endif %}

		</div>
	</div>

	<div class="content">
		<h2>{{ record.subtitle }}</h2>
		<div class="intro">
			{{ record.description }}
			<div class="meta">

				{% for flag in record.taxonomy.services %}
					<span class="label">{{ flag }}</span>
				{% endfor %}

			</div>
		</div>

		<div class="block">
			<h2>Locatie</h2>
			<p>{{ record.title }} is te vinden op <a href="{{ strandslag.link() }}">{{ strandslag.title }}</a>.</p>

			{% include '_item-staticmap.twig' with { maptype : 'streets' } %}

			<p><a href="http://maps.google.com/maps?&z=16&q={{ record.geolocation.latitude }}+{{ record.geolocation.longitude }}&ll={{ record.geolocation.latitude }}+{{record.geolocation.longitude }}">Plan je route naar {{ record.title }} op Google maps</a></p>
		</div>


		<div class="block related-block">
			<h2>Strandtenten in de buurt</h2>

			{% set thisstrand = strandslag.taxonomy.stranden|first %}

			{% setcontent neighbours = 'strandslagen' where { stranden : thisstrand } %}
			{% set relatedtenten = [] %}

			{% for strand in neighbours %}
				{# welke tenten op de aangrenzende strandslagen? #}
				{% set buurtenten = strand.related(strandtenten) %}
				{# voeg toe aan de array #}
				{% set relatedtenten = relatedtenten|merge(buurtenten) %}
			{% endfor %}

			{% set relatedtenten = relatedtenten|shuffle %}

			{% include '_item-strandgrid.twig' with { 'items' : relatedtenten , short : true, limit : 4 } %}

		</div>

	</div>

	<!--aside>

	</aside -->

</main>

{% endblock main %}
