{% block bodyclass %}body-strandslag{% endblock %}

{% extends '_master.twig' %}

{% block headincludes %}
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
{% endblock headincludes %}


{% block main %}

<main>
    <div class="mainimg">

    	{% include '_item-staticmap.twig' %}
    	
    	<h1>{{ record.title }}</h1>
    
    </div>
        

    <div class="content">
    	
		<div class="siblings">
			{% set previous = record.previous('id') %}
            {% if previous %}
				<a href="{{ previous.link }}" class="prev" title="Bekijk de strandslag hiervoor"> &laquo; {{ previous.title }}</a> 
			{% endif %}
			
			{% set next = record.next('id') %}
            {% if next %}
				<a href="{{ next.link }}" class="next" title="Bekijk de strandslag hierna">{{ next.title }} &raquo; </a> 
			{% endif %}	
		</div>

		<h2>{{ record.name }}
		
			<span class="labels">
				{% if record.naaktstrand == "Ja" %}
				<span class="label">Naaktstrand</span>
				{% endif %}
				
				{% if record.hondenstrand == "Ja" %} 
				<span class="label">Hondenstrand</span>
				{% endif %}	
			</span>
		</h2>

		<div class="intro strandintro">{{ record.description }}</div>

		<div class="block">
			<h3>Strandtenten</h3>		
	        {% set strandtenten = record.related(strandtenten) %}
	        
	        {% include '_item-strandgrid.twig' with { 'items' : strandtenten } %}
        </div>

        <div class="block">
			<h3>Honden</h3>			
			{{ record.hondenstrand_text }}
        </div>

        <div class="block">
			<h3>Naaktrecreatie</h3>			
			{{ record.naaktstrand_text }}
        </div>

        {% if record.sport!="" %}
        <div class="block">
			<h3>Sport</h3>			
			{{ record.sport }}
        </div>
	    {% endif %}

	    {% if record.surfstrand_text!="" %}
        <div class="block">
			<h3>Surfen</h3>			
			{{ record.surfstrand_text }}
        </div>
	    {% endif %}
  
    </div>
    
    <aside> 
    	
    	{% include '_item-weather.twig' %}

    	<div class="block img-block">
			<img src="{{ thumbnail(record.image, 500, 300,'c') }}" alt="{{ record.imagedescription }}" title="{{ record.title }}" />
		</div>
		
		<div id="parkeren-ov" class="block ov-block">
			<h2>Openbaar vervoer</h2>
			<p>
			{{ record.openbaar_vervoer }}
			</p>
		</div>
	
		<div class="block parkeer-block">
			<h2>Parkeren</h2>
			<p>
			{{ record.parkeren }}
			</p>
		</div> 
       
    </aside>

</main>


{% endblock main %}

