{% block bodyclass %}body-basic{% endblock %}

{% extends '_master.twig' %}


{% block main %}

<main>
   
    <div class="content">
    	<h1>{{ record.title }}</h1>
		<div class="intro strandintro">
			{{ record.description }}
		</div>
		
		{% if record.slug == "niet-gevonden" %}
			{% include '_item-searchbox.twig' %}
		{% endif %}

		<div class="body">
			{{ record.body }}
		</div>

    </div>

</main>


{% endblock main %}

